body{
  margin: 0;
  padding: 0;
  font-size: 20px;
}
.container{
  width: 70%;
  margin: 0 auto;
  display: block;
}
.header{
  height: 150px;
  display: flex;
  justify-content: space-between;
}
.header .menu, .talk{
  margin-top: 20px;
}
.header .menu a{
  text-decoration: none;
  color: black;
  margin-left: 20px;
}
.header .menu a:hover{
  color: rgb(255, 0, 43);
  text-decoration:underline ;
}
.header .talk button{
  height: 30px;
  width: 100px;
  border: 1px solid black;
  border-radius: 5px;
}
.mid{
  display: flex;
  justify-content: space-between;
}
.mid .mid-left button{
  width: 130px;
  height: 40px;
  margin-left: 20px;
  border: 1px solid black;
  border-radius: 5px;
}
button:hover {
  background-color: black;
  color: aliceblue;
}
.bottom{
  display: flex;
  justify-content: space-between;
}
.bottom .bt-left{
  width: 30%;
}
.bottom .bt-right img{
  width: 150px;
  margin-left: 20px;
}