*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  font-size: 18px;
}
.header-img img{
  width: 100%;
  height: 100px;
}
.header{
  width: 100%;
  height: 50px;
  background: #181cf8;
  margin: -6px auto;
}
.header .menu{
  margin-left: 10%;
}

ul.root > li {
  list-style: none;
  float: left;
  position: relative;
}
ul.root > li > a{
  text-decoration: none;
  color: #fff;
  padding: 0px 20px 0px 20px; 
  line-height: 50px;
  display: block;
}
ul.root > li > a:hover{
  background-color: yellow;
  color: red;
  transform: ease-in 0.35s;
}
ul.submenu
{
  width: 250px;
  background: #6d136a;
  min-height: 80px;
  display: none;
  position: absolute;
}
ul.submenu li
{
  list-style: none;
}
  ul.submenu li a
  {
    text-transform: none;
    text-decoration: none;
    color: #fff;
    display: block;
    border: 1px solid #ccc;
    line-height: 40px;
    text-indent: 10px;

  }
  ul.root > li:hover ul.submenu{
    display: block;
    background-color: #3d2a86;
    color: red;
    transform: ease-in 0.35s;

  }
  ul.submenu li a:hover{
    background-color: yellow;
    color: red;
    transform: ease-in 0.35s;
  }

  .mid{
    display: flex;
  }
  .mid-left{
    margin-top: 10px;
    height: 528px;
    margin-left: -1100px;
    display: block;
    border: 1px solid black;
  }
  .mid-left .mid-left-text{
    background-color: blue;
    color: #fff;
  }  
  .box-top , .box-bottom{
    display: flex;
  }
  .mid-right{
    display: flex
  }
  .mid-right-p {
    display: block;
    width: 250px;
    margin-top: 10px;
  }

  .p-bot, .p-top{
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid black;
  }
  .p-bot{
    height: 300px;
    margin-top: 20px
  }
  .p-bot input{
    width: 80%;
    margin-left: 20px;
    height: 40px;
    margin-top: 10px;
  }
  .p-bot button{
    margin-left: 80px;
    margin-top: 30px;
  }
  .p-bot .p-text{
    background-color: blue;
    color: #fff;
  }

  .mid-right-t{
    display: block;
    margin-top: 10px;
  }
  .t-box{
    margin-bottom: 18px;
    border: 1px solid red ;
    text-align: center;
  }
  .t-box .t-text{
    background-color: rgb(238, 102, 124);
    color: #fff;
    height: 30px;
  }
  .fb{
    height: 100px;
  }

  .tin-b{
    display: flex;
  }
  .tin-b img{
    width: 88px;
  }