@media only screen and (max-width: 1280px) and (min-width: 768px){
  .container .mid{
    display: block;
  }
  .container .header{
    height: 70px;
    margin-top: 20px;
  }
  .container .mid .mid-tren .box{
    height: 80px;
  }
  .container .mid .mid-duoi .box{
    height: 80px;
  }
  .container .mid .mid-tren{
    width: 100%;
  }
  .container .mid .mid-duoi{
    width: 100%;
  }
  
  .container .mid .trua{
    border: 0;
  }
  .container .mid .trua img{
    width: 200px;
  }
  .container .mid .sang .c{
    border-bottom :1px solid rgb(158, 158, 158) ;
  }
}
@media only screen and (max-width: 768px) and (min-width: 350px){
  .container .mid{
    display: block;
  }
  .container .header{
    height: 80px;
    margin-top: 0px;
  }
  
  .container .mid .mid-tren .box{
    height: 80px;
  }
  .container .mid .mid-duoi .box{
    height: 80px;
  }
  .container .mid .mid-tren{
    width: 100%;
    display: block;
  }
  .container .mid .mid-duoi{
    width: 100%;
    display: block;
  }
  
  .container .mid .sang {
    width: 100%;
    border: 0;
  }
  .container .mid .trua {
    width: 100%;
    border: 0;
  }
  .container .mid .chieu {
    width: 100%;
    border: 0;
  }
  
  .container .mid .trua .box{
    height: 300px;
  }
  .container .mid .trua img{
    width: 250px;
  }
  .container .mid .sang .c{
    border-bottom :1px solid rgb(158, 158, 158) ;
  }
}